
body{

    background-color: azure;
    padding: 5px;
}

.tagline{

    color: blueviolet;
    font-style: italic;
}

img{
   float: right;
   
}

.pricetopic{ 
      
    font-size: 25px;
    font-weight: bold;
    padding: 50px;
    padding-left: 0%;

}

table{

    border: 1px solid black;
    width: 100%;
}

td,th{

    text-align: left;
    padding: 1%;
}

footer{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: orange;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}